<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
</head>
<body>
<div layout:fragment="content">
    <div class="p-3">
        <form method="post" th:action="@{/admin/event/create}">

            <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" name="title" th:value="${event.title}">
                <span class="text-danger" th:errors="${event.title}" th:value="${event.title}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="date" class="form-label"> Date:</label>
                <input type="date" class="form-control" id="date" name="date" th:value="${event.date}">
                <span class="text-danger" th:errors="${event.date}" th:value="${event.date}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="description" class="form-label"> Description:</label>
                <textarea class="form-control" id="description" placeholder="Description" name="description" th:text="${event.description}"></textarea>
                <span class="text-danger" th:errors="${event.description}" th:value="${event.description}"></span>
            </div>

            <div class="mb-3 mt-3">
                <label for="location" class="form-label">Location:</label>
                <input type="text" class="form-control" id="location" placeholder="Location" name="location" th:value="${event.location}">
                <span class="text-danger" th:errors="${event.location}" th:value="${event.location}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="capacity" class="form-label">Capacity:</label>
                <input type="number" class="form-control" id="capacity" placeholder="Capacity" name="capacity" th:value="${event.capacity}">
                <span class="text-danger" th:errors="${event.capacity}" th:value="${event.capacity}"></span>
            </div>
            <div class="mb-3 mt-3">
                <label for="type" class="form-label">Type:</label>
                <select class="form-control" id="type" name="type" th:value="${event.type}" >
                    <option value="" disabled selected>Select event type</option>
                    <option value="CONFERENCE">Conference</option>
                    <option value="WORKSHOP">Workshop</option>
                    <option value="PARTY">Party</option>
                </select>
                <span class="text-danger" th:errors="${event.type}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Save Event</button>
        </form>
    </div>
</div>
</body>
</html>
