<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/logo.jpg}">
    <title>EventManagement</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="h-100">
<div class="authincation h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
            <div class="col-md-5">
                <div class="form-input-content text-center error-page">
                    <h1 class="error-text  font-weight-bold">403</h1>
                    <h4><i class="fa fa-times-circle text-danger"></i> Access Denied!</h4>
                    <p>Sorry, you don’t have permission to access this page.</p>
                    <div>
                        <a class="btn btn-primary" th:href="@{/}">Back to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>