<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{DashboardParticipants.html}">


<body>
<div layout:fragment="content">
    <!--**********************************
             Content body start
         ***********************************-->
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">

            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>All Event</h4>
                    </div>
                </div>
                <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'dashboardadmin' %}">Home</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">Events</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">All Event</a></li>
                    </ol>
                </div>
            </div>
            <div class="row">
                <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
                <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

            </div>
            <div class="row">

                <div th:each="event : ${events}"  class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="card card-profile">
                        <div class="card-header justify-content-end pb-0 mb-1">
                            <div class="dropdown">
                            </div>
                        </div>
                        <div class="card-body pt-2">
                            <div class="text-center">
                                <div class="profile-photo">
                                </div>
                                <h3 class="mt-4 mb-1" th:text="${event.title}"> </h3>
                                <p class="text-muted" th:text="${event.description}"></p>
                                <ul class="list-group mb-3 list-group-flush">
                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                        <span>Location :</span><strong th:text="${event.location}"></strong></li>
                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                        <span class="mb-0">Date :</span><strong th:text="${event.date}"></strong></li>
                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                        <span class="mb-0">Type :</span><strong th:text="${event.type}"></strong></li>
                                    <li class="list-group-item px-0 d-flex justify-content-between">
                                        <span class="mb-0">Price :</span><strong th:text="${event.price } +' $'"></strong></li>
                                </ul>

                                <div class="ratings">
                                    <div>
                                        <i th:each="star : ${#numbers.sequence(1, 5)}"
                                           th:classappend="${star <= T(java.lang.Math).round(event.averageRating) ? 'fa fa-star text-warning' : 'fa fa-star'}">
                                        </i>
                                    </div>
                                    <div>
                                        <span th:text="'Rating: ' + ${T(java.lang.Math).round(event.averageRating)} + '/5'"></span>
                                    </div>
                                </div>
                                <!-- Bouton pour ouvrir le modal -->
                                <a href="javascript:void(0)" data-toggle="modal"  class="btn btn-info  btn-rounded mt-3"  th:data-target="'#ratingModal-'+${event.id}"  >
                                    Rate
                                </a>

                                <a class="btn btn-outline-warning btn-rounded mt-3 px-4"
                                   th:if="${event.participants.contains(user)}"
                                   th:href="@{/user/register/event(id=${event.id})}">
                                    Cancel</a>
                                <a class="btn btn-outline-primary btn-rounded mt-3 px-4"
                                   th:if="${!event.participants.contains(user) && event.participants.size() < event.capacity}"
                                   th:href="@{/user/register/event(id=${event.id})}">
                                    Join</a>
                                <a class="btn btn-outline-success btn-rounded mt-3 px-4"
                                   th:if="${!event.participants.contains(user) && !event.waitinglist.contains(user) && event.participants.size() >= event.capacity}"
                                   th:href="@{/user/waiting/event(id=${event.id})}">
                                    Waitlist</a>
                                <a class="btn btn-outline-warning btn-rounded mt-3 px-4"
                                   th:if="${event.waitinglist.contains(user)}"
                                   th:href="@{/user/waiting/event(id=${event.id})}">
                                    Leave Waitlist </a>

                                <!-- Modals -->
                                <div>
                                    <div class="modal fade" th:id="'ratingModal-' + ${event.id}" tabindex="-1" aria-labelledby="ratingModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" th:text="'Rate ' + ${event.title}" id="ratingModalLabel"></h5>
                                                    <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                                                        <i class="fas fa-times"></i>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form th:action="@{/user/events/rate}" method="POST">
                                                        <input type="hidden" name="id" th:value="${event.id}" />
                                                        <div class="mb-3">
                                                            <label for="rating" class="form-label" >Select Rating: </label>
                                                            <select name="rating" id="rating" class="form-select" required>
                                                                <option value="1">1 - Poor</option>
                                                                <option value="2">2 - Fair</option>
                                                                <option value="3">3 - Good</option>
                                                                <option value="4">4 - Very Good</option>
                                                                <option value="5">5 - Excellent</option>
                                                            </select>
                                                        </div>
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                end -->
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    <!--**********************************
        Content body end
    ***********************************-->

</div>

</body>

</html>
